body{
  margin: 0;
  padding: 0;
  background-color: rgb(18, 19, 20);
}
a{
  text-decoration:none;
}
html {
  scroll-behavior: smooth;
}

.logo img{
  margin-top: 9px;
  filter: invert(100%);
  width: 50px;
  margin-left: 12px;
}
.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(10, 9, 9);
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
}
nav li::before{
  /* border-bottom: 0; */
  width: 0;
  height: 5px;
  background-color: black;
  transition: 0.3s ease-in linear;
  position: absolute;
  bottom: 20px;
  content:" ";
  transition: 0.3s ease-in ;
}
nav li:hover::before{
  background-color: aqua;
  width: 50%;
}
/* nav li:hover{
  border-bottom: 1px solid black;
} */
.sidebar nav {
  height: 60%;
  position: relative;
}

nav > ul {
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: right; */
  margin-right: 33px;
}
.sidebar nav li {
  list-style: none;
  font-size: 15px;
  padding: 33px;
  font-weight: bolder;
  position: relative;
}
.sidebar nav li a:hover {
  color: rgb(135, 218, 253);
}
.sidebar nav li a {
  text-decoration: none;
  color: #fff;
  
}
.mainn {

  /* height: 90vh; */
  width: 90vw;


  /* background-color: yellow; */
}
.introContainer {
  /* background-color: rgb(241, 90, 213); */
  /* height: 10vh; */
  width: 80vw;
  margin: 87px ;
  padding-top: -10px;
  display: flex;
  justify-content: space-between;
  /* gap: 140px; */
  /* padding-left: 34px; */
}
.container {
  /* display: flex; */
  background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);  height: 90vh;
  max-width: 100%;
  /* background-color: rgb(44, 42, 42); */
}
.devinfo {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* .btn > a{
  color: #fff;
} */
.hello {
  color: #fff;
  font-size: 65px;
}
.name {
  font-size: 30px;
  color: #fff;

  font-weight: bold;
}
.name h7{
  color: rgb(13, 14, 14);
  font-size: 32px;
  font-weight: 700;
  /* opacity: 0; */
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}
.about {
  font-size: 40px;
}
.moreabout {
  font-size: 18px;
  margin-top: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-label span{
  color: red;
}
.container1{
  height:100vh ;
}
.project-pics {
  margin-top: 70px;
  height: 120vh;
  overflow: hidden;
}
h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 40px;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.design {
  padding-top:20px ;
  /* margin: 2rem 0; */
  width: 60vw; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects {
  cursor: pointer;
  width: 28vw;
  overflow: hidden;
  margin: 1.5rem 0;
}
.item {
  /* position: relative; */
  overflow: hidden;
  padding: 5px;
  height: 20vw;
  width: 50vw;
}

.div5 > .item {
  height: 92%;
}
.item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  /* width: 100%;
    height: 100%; */
  background: rgba(0, 0, 0, 0.3);
}
.item img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  transition:2s;
}
.item:hover img {
  /* transform: scale(1.1); */
  transition:5s;
  transform: rotateY(360deg);


  /* transition: cubic-bezier(0.6, 0.04, 0.98, 0.335); */

}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.pro-title{
  color: #fff;
    /* padding: 1rem; */
    font-size: 0.8rem;
    text-align: center;
    width: 20%;
    /* margin: -px auto; */
    margin-top: 5px;
    
}

.buttons {
  
  margin-top: 30px;
  padding: 10px;
}
.btn {
  padding: 9px 12px;
  border-radius: 22px;
  cursor: pointer;
  color: aliceblue;
  font-weight: bold;
  background-color: rgb(55, 55, 56);
  font-size: 15px;
  margin: 0px 3px;
  box-shadow: 1px 1px 1px #dca3a3;
}
.btn:hover {
  /* background-color: rgb(154, 194, 228); */
  /* color: rgb(103, 103, 234); */
  /* font-weight: bold; */
  /* background-color: rgb(103, 103, 234); */
}
.main1{
  /* z-index: 100; */
  /* overflow: hidden; */
  height: 82vh;
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  /* background-color: aquamarine; */
  
}
.contactform {
  padding: 0px 34px;
  padding-top: 60px;
 
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contactform h2 {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* text-align: center; */
}
.contactform form div {
  color: #fff;
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
}
.contactform form div input {
  width: 26vw;
  background-color: #3c3a3a;
  border-radius: 6px;
  margin: 6px 0 0 0;
  padding: 3px;
}
#emailHelp {
  font-size: 10px;
  /* color: midnightblue; */
  color: #fff;
  margin: 0 5px;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  color: #fff;
  width: 23px;
  margin: 3px 0;
}
.contactform form div select {
  /* border: 1px solid #777; */
  background-color: #090909;
  color: #fff ;
  border-radius: 6px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 130px;
}
.btn-sm {
  font-size: 15px;
  margin: 12px 0;
  padding: 10px 19px;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 12px;
  /* color: aqua; */
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-size: 45px; */
}
/* .intro-container{
  display: flex;
  flex-direction: row;
} */
.intro{
  padding-top:50px ;
}
.intro h2 {
  font-size:40px;
  color: #fff;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 14px;
}
.intro p {
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 14px;
}
/* .skillcontainer {
  padding: 16px;
  margin-top: 50px;
} */
.skillItem {
  color: #fff;

  display: flex;
  align-items: center;
}
.skill {
  width: 250px;
  height: 5px;
  background-color: rgb(235, 54, 156);
  border: 2px solid black;
}
.hundred {
  width: 250px;
}
.fifty {
  width: 125;
}
.t5 {
  width: 75px;
  background-color: aqua;
}

/* .form-control input[type="radio"], */
/* .contactform form div input[type="checkbox"] {
    display: inline-block;
    width: auto;
} */

.parent {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 00px;
}

.parent > div {
  /* background-color: rgb(233, 203, 209); */
  margin: 10px;
}

.div5 {
  grid-area: 1 / 3 / 5 / 5;
}
.platform{
  /* margin-bottom: 30px; */
  height: 40px;
  /* background-color: rgb(34, 35, 35); */
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
    
}
.social-link{
  /* color: #fff; */
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.social-link a{
  border: 2px solid #fff;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 0.3rem;
  transition: all 0.5s ease;
}

.social-link a:hover{
  background: #fff;
  color: var(--exDark);
}
.platform span{
  /* margin-top: 1rem; */
  color: #fff;
  display: block;
  font-family: var(--Playfair);
  letter-spacing: 2px;
}
.certificates-main{
  /* margin: 70vh; */
  height: 94vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
/* .certificates{
  width: 100%;
} */
.parents {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 00px;
}
.cimages{
  width: 35vw;
  height: 40vh;
  margin: 18px;
}
.cimages img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  transition:all 0.5s ease;
}
.cimages:hover img {
  transform: scale(1.1);
}
h4 {
  color: #fff;
  margin-bottom:24px  ;
  font-weight: bolder;
  font-size: 40px;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.email{

  margin-top: 200px;
}


.tab-titles{
  color: #fff;
  display: flex;
  gap: 20px;
  margin-top: 50px ;
  margin-left: 150px;
}
.tab-links{
  /* margin-right: 290px; */
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background-color:red;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.tab-links.active-links::after{
  width: 100%;
}
.tab-contents{
  margin-top:35px ;
  margin-left:150px ;
}
.tab-contents ul li{
  list-style: none;
  color: #fff;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #ff004f;
  font-size: 14px;
}
.tab-contents{
  display:none;
}
.tab-contents.active-tab{
  display: block;
}


@media (max-width: 768px) {
  body{
    background-repeat: no-repeat;
  }
  .container{
    height:140vh;
  }
 
  .introcontainer{
    width: 100vh;
  }
  header.sidebar {
    width: 100px;
  }
  main.main-content {
    margin-left: 200px;
  }
  .introContainer{
    height: 95vh;

  }
  .introContainer {
    height: 90vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .devpic img {
    height: 75vh;
    width: 100vw;
  }

  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .certificate-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .devinfo {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
  }

  
}

/* @media only screen and (max-width: 800px) {
  body{
    background-color: rgb(160, 186, 186);
  }

  .sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  }

  .sidebar nav li {
    justify-content: space-around;
    padding: 15px 0;
    text-align: center;
    gap: 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .introContainer {
    width: 100%;
    margin-top: 90px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .devpic img {
    height: 70vh;
    width: 50vh;
  }

  .container1 {
    height: auto;
  }

  .project-pics {
    color: #fff;
    height: 90vh;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .projects {
    width: 90%;
    margin: 0 auto;
  }

  .pro-title {
    width: 100%;
  }

  .certificates-main {
    color: #fff;
    height: auto;
    padding-bottom: 40px;
  }

  .parents {
    width: 90%;
    margin: 0 auto;
  }

  .cimages {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .container3 {
    padding-bottom: 40px;
  }

  .contactform form div input,
  .contactform form div select {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .email {
    margin-top: 20px;
  }

  
  .platform {
    padding: 1rem 0;
  }

  .social-link {
    margin-bottom: 0.8rem;
  }

  .platform span {
    margin-top: 0.5rem;
  }
} */
